
$FuturaNewBold: "FuturaNewBold", Arial, sans-serif;
$FuturaNewBook: "FuturaNewBook", Arial, sans-serif;
$FuturaNewDemi: "FuturaNewDemi", Arial, sans-serif;
$FuturaNewHeavy: "FuturaNewHeavy", Arial, sans-serif;
$FuturaNewMedium: "FuturaNewMedium", Arial, sans-serif;
